/* standardvariante */

.container{
    display: grid;
    border: 2px solid black;
    background-color: #E6E6E6;
    grid-template-columns: 2fr 2fr 2fr 2fr;  
    grid-auto-row:auto;
}

.header{
    border: 2px solid black;
    background-color:white;
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 2;
}

.nav{
    background-color:white;
    border: 2px solid black;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 5;
}

.content{
    background-color:white;
    border: 2px solid black;
    grid-column-start: 2; 
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 8;
}

.footer{
    border: 2px solid black;
    background-color:white;
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 8;
    grid-row-end: 9;
    
}

.footer li{
    display:inline;
    margin:0.5em;
}

.footer ul{
    float:right ;  
}

.nav li{
    list-style-type:none ; 
}